<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{  url_for('static', filename='css/contactStyles.css')  }}">
    <title>Contact</title>
  </head>
  <body>
    <header class="main-page">
        <nav class="navbar">
          <div class="kino-select"><a href="{{url_for('home')}}">KinoSelect</a></div>
          <ul class="nav-links">
            {% if current_user.is_authenticated %}
            <span>Welcome, {{ current_user.username }}!</span>
            <a href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
          {% endif %}          </ul>
        </nav>
        <div class="contact-container">
            <div class="contact-text">
                <h1>Contact</h1>
                <p>
                    Contact us for more information or assistance. 
                    We are available to answer any questions you may have about KinoSelect, films, or how to buy a ticket.
                </p>
                <p><strong>+48-888-888-888</strong></p>
                <p><strong>fakeemail@gmail.com</strong></p>
            </div>
          <div class="contact-image">
            <img src="{{  url_for('static', filename='images/contactImage.jpg' )  }}" alt="">
          </div>
        </div>
    </body>
</html>
